	<!--needed for bootstrap calendar-->
	<link rel="stylesheet" href="../css/calendar.css">
	<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">

<div class="row">
	<div class="col-md-12">
		<h1>Events Page</h1>
		<div class="jumbotron">
			<h2>Content</h2>
			<p>Details</p>
		</div>
	</div>
</div>