<!--<div class="row">
	<div class="col-md-12">

		<ul class="nav nav-pills nav-justified">
			<li role="presentation"><a href="./index.html">Home</a></li>
			<li role="presentation"><a href="./menu.html">Menu</a></li>
			<li role="presentation"><a href="./reserve.html">Reservation</a></li>
			<li role="presentation"><a href="./events.html">Events</a></li>
			<li role="presentation" class="active"><a href="./reviews.html">Reviews</a></li>
			<li role="presentation"><a href="./contact.html">Contact</a></li>
		</ul>
	</div>
</div>-->
<div class="row">
	<div class="col-md-12">
		<h1>Reviews Page</h1>
		<div class="jumbotron">
			<h2>Content</h2>
			<p>Details</p>
		</div>
	</div>
</div>