<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reservations</title>
</head>
<body>
	{{{body}}}
</body>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript">
	console.log(5);
	// var data = {name: "herbert"};

	// var currentUrl = window.location.origin;
	// $('#res').on('click', function(){
	// 	var name = $("textarea").attr("name", "name");
	// 	console.log(name);
	// 	$.post(currentUrl + '/create',data, function(err){
	// 		console.log(err);
	// 		if (err == "alert"){
	// 			console.log("alert");
	// 		}
	// 		else{
	// 			window.location.reload();
	// 		}
	// 	})
	// });

</script>
</html>