<h1>Create Your Reservation</h>
<form methods = "POSTS" actions="/create">
<textarea type= "text" name = "name"></textarea>
<textarea type= "text" name = "phone"></textarea>
<textarea type= "text" name = "email"></textarea>
<textarea type= "text" name = "date"></textarea>
<button type="submit">Save Reservation</button>
</form>